<!--
    Used to create metadata.

    Usage :

    <MetadataInput ref="metadataInput" v-model="metadata"/>

      - use ref to call reset
      - use v-model to update parent array on change
-->

<template>
  <div>
    <v-row v-for="m in metadata" :key="m.key" class="row_metadata" dense>
      <v-col class="col-5">
        <v-text-field outlined dense disabled :value="m.key"/>
      </v-col>
      <v-col class="col-5">
        <v-text-field outlined dense v-model="m.value"/>
      </v-col>
      <v-col class="col-1 text-center">
        <v-btn class="mb-6" icon @click="removeMetadata(m.key)">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-col>
    </v-row>

    <v-row class="row_metadata" dense>
      <v-col class="col-4">
        <v-text-field outlined dense v-model="newKey"/>
      </v-col>
      <v-col class="col-4">
        <v-text-field outlined dense v-model="newValue"/>
      </v-col>
      <v-col class="col-2">
        <v-btn icon @click="addMetadata" :disabled="!canAddJobMetadata">
          <v-icon>add</v-icon>
        </v-btn>
      </v-col>
      <v-col class="col-2">
        <v-btn class="mb-6" icon :disabled="newKey === '' && newValue === ''" @click="clearMetadataFields">
          <v-icon>delete</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<style scoped>
.row_metadata {
  max-height: 50px;
}
</style>

<script lang="ts">
import {Component, Vue, Watch} from "vue-property-decorator"
import {Metadata} from "@/store/types"

@Component
export default class MetadataInput extends Vue {

  private newKey: string = ""
  private newValue: string = ""

  private metadata: Array<Metadata> = []

  public reset() {
    this.clearMetadataFields()
    this.metadata = []
  }

  private get canAddJobMetadata() {
    return this.newKey !== "" && this.metadata.find((m) => m.key === this.newKey) === undefined
  }

  private addMetadata() {
    this.metadata.push({key: this.newKey, value: this.newValue})
    this.clearMetadataFields()
  }

  private removeMetadata(key: string) {
    this.metadata = this.metadata.filter((m) => m.key !== key)
  }

  @Watch("metadata")
  private watchMetadata() {
    this.changeMetadata()
  }

  private changeMetadata() {
    this.$emit("input", this.metadata)
  }

  private clearMetadataFields() {
    this.newKey = ""
    this.newValue = ""
  }

}
</script>
