<template>
  <v-container fluid>
    <v-flex>
      <v-row class="mx-3 mt-3" justify="space-between">
        <v-col class="pl-4" tag="h1">
          <h1>{{ $t("deferredDocuments.title") }}</h1>
        </v-col>
        <v-col class="align-right">
          <IconButton leftIcon="arrow_back" @click="back" color="var(--var-color-blue-sword)">{{
              $t("documents.back")
            }}
          </IconButton>
        </v-col>
      </v-row>
      <v-row>
        <v-flex>
          <Card>
            <v-flex>
              <v-row>
                <v-col class="col-2 filter-frame">
                  <v-text-field :label="$t('documents.name')"
                                outlined
                                dense
                                v-model="filter.name"
                                color="var(--var-color-blue-sword)"
                                clearable/>
                </v-col>
                <v-col class="col-4">
                  <IconButton @click="initSearch()"
                              color="var(--var-color-blue-sword)"
                              leftIcon="zoom_in">
                    {{ $t("documents.search") }}
                  </IconButton>
                  <span class="ml-2 records">{{ documentCount }} {{ $t("documents.records") }}</span>
                </v-col>
              </v-row>
            </v-flex>
            <v-data-table class="table-header"
                          :headers="headers"
                          :items="documentList"
                          :footer-props="footer"
                          :options.sync="pagination"
                          :server-items-length="documentCount"
                          :loading="loading"
                          must-sort
            >
              <template v-slot:body="{items}">
                <tbody>
                <tr :key="doc.id" v-for="doc in items" class="outlined">
                  <td class="text-center">{{ doc.metadata.fileName }}</td>
                  <td class="text-center">{{ doc.hash }}</td>
                </tr>
                </tbody>
              </template>
            </v-data-table>
          </Card>
        </v-flex>
      </v-row>
    </v-flex>
  </v-container>
</template>

<style scoped>

</style>

<script lang="ts">
import {tableFooter} from "@/plugins/i18n"
import {DeferredFileFilterOption, PaginationOption} from "@/store/types"
import {Component, Vue, Watch} from "vue-property-decorator"

@Component
export default class DeferredDocuments extends Vue {

  private filter: DeferredFileFilterOption = {
    accountId: undefined,
    name: undefined,
    id: undefined,
    hash: undefined,
  }

  private pagination: PaginationOption = {
    itemsPerPage: 10,
    page: 1,
    sortBy: [],
    sortDesc: [],
  }

  private get loading() {
    return this.$modules.deferredFiles.getLoading
  }

  private get documentList() {
    return this.$modules.deferredFiles.getFiles
  }

  private get documentCount() {
    return this.$modules.deferredFiles.getFileCount
  }

  private get headers() {
    return [
      {text: this.$t("documents.name"), align: "center", value: "metadata.fileName", width: "25%"},
      {text: this.$t("documents.hash"), align: "center", value: "hash", width: "25%"},
    ]
  }

  private get footer() {
    return tableFooter((key: string) => this.$t(key))
  }

  private initSearch() {
    this.pagination.page = 1
    this.search()
  }

  @Watch("pagination")
  private search() {
    this.$modules.deferredFiles.setFilter(this.filter)
    this.$modules.deferredFiles.setPagination(this.pagination)
    this.$modules.deferredFiles.loadFiles()
  }

  private back() {
    this.$router.go(-1)
  }

  private mounted() {
    this.filter = this.$modules.deferredFiles.getFilter()
  }
}
</script>
