<template>
  <v-container fluid>
    <v-row class="mx-3 mt-3" justify="space-between">
      <v-col class="pl-4 col-5" tag="h1">
        <template>{{ $t("job.detail.title") }}</template>
      </v-col>
      <v-col>
        <IconButton leftIcon="arrow_back" @click="back" color="var(--var-color-blue-sword)">{{
            $t("job.detail.back")
          }}
        </IconButton>
      </v-col>
    </v-row>
    <v-row>
      <v-flex lg6 md7 sm8 xs11>
        <Card>
          <v-flex>
            <EditFormRow :title="$t('job.detail.id')" :editable="false" :value="currentJob.id"/>
            <EditFormRow :title="$t('job.detail.name')" :editable="false" :value="currentJob.flowName"/>
            <EditFormRow :title="$t('job.detail.date')" :editable="false" :value="currentJob.createdDate"/>
            <EditFormRow :title="$t('job.detail.statusDate')" :editable="false" :value="currentJob.stateDate"/>
            <EditFormRow :title="$t('job.detail.status')" :editable="false" :value="currentJob.state"/>
            <EditFormRow :title="$t('job.detail.callBackStatus')" :editable="false" :value="currentJob.callBackStatus"/>
            <EditFormRow :title="$t('job.detail.docs')" :editable="true">
              <a class="mt-3" @click="gotoDocuments(currentJob.id)">{{ currentJob.docsNumber }}</a>
            </EditFormRow>
            <EditFormRow :title="$t('job.detail.channel')" :editable="false" :value="currentJob.channelName"/>
            <EditFormRow :title="$t('job.detail.block')" :editable="false" :value="currentJob.blockHash"/>
            <EditFormRow :title="$t('job.detail.transaction')" :editable="false" :value="currentJob.transactionHash"/>
            <EditFormRow :title="$t('job.detail.hash')" :editable="false" :value="currentJob.algorithm"/>
            <EditFormRow :title="$t('job.detail.rootHash')" :editable="false" :value="currentJob.rootHash"/>

            <EditFormRow v-if="customFields.length > 0" :title="$t('job.detail.customFields')" :editable="true">
              <v-dialog
                  v-model="dialog"
                  width="600"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                      color="var(--var-color-orange-sword)"
                      dark
                      v-bind="attrs"
                      v-on="on"
                  >
                    {{ $t('job.detail.seeCustomFields') }}
                  </v-btn>
                </template>

                <v-card>
                  <v-data-table class="table-header"
                                :headers="headers"
                                :items="customFields"
                                :items-per-page="5"
                                must-sort
                  >
                    <template v-slot:body="{items}">
                      <tbody>
                      <tr :key="field.key" v-for="field in items" class="outlined">
                        <td class="text-center">{{ field.key }}</td>
                        <td class="text-center">{{ field.value }}</td>
                      </tr>
                      </tbody>
                    </template>
                  </v-data-table>
                </v-card>
              </v-dialog>
            </EditFormRow>

          </v-flex>

          <v-flex v-if="currentJob.state === 'INSERTED' && retrySignatureResponse === undefined"
                  class="mt-5 align-right">
            <IconButton color="var(--var-color-blue-sword)" @click="retrySignature" leftIcon="rotate_left">
              {{ $t('job.detail.retrySignature') }}
            </IconButton>
          </v-flex>
        </Card>
      </v-flex>
    </v-row>
  </v-container>
</template>

<style scoped>
</style>
<script lang="ts">
import {Component, Vue} from "vue-property-decorator"
import {RetrySignatureResponse} from "@/api/types"

interface Field {
  key: string,
  value: string
}

@Component
export default class JobDetail extends Vue {

  private dialog = false

  private get headers() {
    return [
      {text: this.$t("job.detail.key"), align: "center", value: "metadata.fileName", width: "50%"},
      {text: this.$t("job.detail.value"), align: "center", value: "hash", width: "50%"},
    ]
  }

  private get customFields() {
    const ret: Array<Field> = []

    if (this.currentJob !== undefined && this.currentJob.customFields !== undefined) {
      Object.entries(this.currentJob.customFields).forEach((arr) => {
        ret.push({
          key: arr[0],
          value: arr[1] as string,
        })
      })
    }

    return ret
  }

  private get currentJob() {
    return this.$modules.jobs.getCurrentJob()
  }

  private back() {
    this.$modules.jobs.saveFilter(true)
    this.$router.push("/jobs")
  }

  private gotoDocuments(job: string) {
    this.$modules.files.setFilter({
      accountId: this.$modules.accounts.meAccount!.id,
      dates: [],
      jobId: job,
    })
    this.$router.push("/documents")
  }

  private get retrySignatureResponse(): RetrySignatureResponse | undefined {
    return this.$modules.signatures.getRetrySignatureResponse
  }

  private retrySignature() {
    if (this.currentJob !== undefined) {
      this.$modules.signatures.retrySignature(
          {
            jobId: this.currentJob.id,
          },
      )
    }
  }
}
</script>
