<template>
  <v-flex id="rootLogin">
    <v-card class="mx-auto padded" max-width="600">
      <div class="text-center">
        <img
            class="white--text"
            height="70px"
            width="auto"
            src="@/ui/assets/logo_coexya.svg"
            alt="Logo COEXYA"
        />
      </div>

      <v-card-text>
        <v-layout>
          <v-flex>
            <v-text-field color="var(--var-color-blue-sword)" :label="$t('login.login')" v-model="username"
                          @keyup.enter.native="handleLogin" id="username"
            />
            <v-text-field color="var(--var-color-blue-sword)" :label="$t('login.password')" type="password"
                          v-model="password"
                          @keyup.enter.native="handleLogin" id="password"
            />
            <div class="text-right"><a href="/#/forgotten-password">{{ $t('login.forgotten-password') }}</a>
            </div>
          </v-flex>
        </v-layout>
      </v-card-text>

      <v-card-actions class="justify-center">
        <v-btn @click="handleLogin" id="connexionButton">
          <v-icon class="pr-1">double_arrow</v-icon>
          {{ $t('login.connection') }}
        </v-btn>
      </v-card-actions>

      <v-card-text v-if="registering.enabled" class="text-center">
        {{ $t('login.createAccount') }}
        <router-link to="/register">{{ $t('login.createAccountAction') }}</router-link>
      </v-card-text>

      <FeedBackMessage ref="feedBackMessage" with-border="true"/>

      <div class="text-center" id="gcu">
        <a href="/#/GCU">{{ $t('login.gcu') }}</a>
      </div>
    </v-card>
  </v-flex>
</template>

<style type="text/css" scoped>

#rootLogin {
  --var-color-blue-sword: #168bb3;
}

img {
  margin: 40px 40px 60px 40px;
}

a {
  color: var(--var-color-blue-sword) !important;
  font-size: small;
}

#connexionButton {
  margin-top: 20px;
  background-color: var(--var-color-blue-sword);
  color: white;
}

#gcu {
  margin-top: 100px;
}

.padded {
  padding: 50px 100px;
}

</style>

<script lang="ts">
import {fetchData, resetStore} from "@/store/actions/globalActions"
import {AuthRequest} from "@/api/types"
import {Component, Ref, Vue} from "vue-property-decorator"
import {FeedBackMessage} from "@/ui/components"

@Component
export default class Login extends Vue {

  @Ref() private readonly feedBackMessage!: FeedBackMessage

  private password: string = ""
  private username: string = ""

  private get registering() {
    const optionalFeatures = this.$modules.optionalFeatures.optionalFeatures
    if (optionalFeatures !== undefined) {
      return optionalFeatures.registering
    }
    return false
  }

  private mounted() {
    // Reset the token and store
    this.$modules.accounts.invalidateToken()
    resetStore(this.$modules)
  }

  private async handleLogin() {
    const authRequest: AuthRequest = {user: this.username, password: this.password}

    await this.$modules.accounts.loadToken(authRequest).then(async () => {
      this.feedBackMessage.reset()
      await fetchData(this.$modules).then(() => this.$router.push("/"))
    }).catch((error) => {
      const exception = error.response?.data.message
      if (exception === "Invalid credentials") {
        this.feedBackMessage.fail("errors.login.invalid")
      } else if (exception === "Disabled account") {
        this.feedBackMessage.fail("errors.login.disabled")
      } else {
        this.feedBackMessage.fail("errors.login.default")
      }
    })
  }
}
</script>
